body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 2.6rem auto 0 auto;
  /* font-family: 'Montserrat'; */
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #66BFBF;
  /* font-family: 'Montserrat', sans-serif; */
}

hr {
  margin: 50px auto 50px auto;
}

p {
    line-height: 2;
}

hr {
  border: dotted #202040 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  /* font-family: 'Montserrat', sans-serif; */
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top:  100px;
}

.middle-container {
  margin: 70px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  margin: 50px auto 100px auto;
  width: 50%;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
  /* font-family: 'Montserrat', sans-serif; */
}

.h3other {
  color: #342ead;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top:50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-img {
  width: 8%;
}

.code-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.earth-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.work-table {
  text-align: left;
  margin: 50px auto;
}

.btn {
	box-shadow: 0px 0px 0px 2px #E4F9F5;
	background:linear-gradient(to bottom, #66BFBF 5%, #66BFBF 100%);
	background-color:#E4F9F5;
	border-radius:10px;
	border:1px solid #E4F9F5;
	display:inline-block;
	cursor:pointer;
	color:#E4F9F5;
  /* font-family: 'Montserrat', sans-serif; */
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin: auto auto 30px auto;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}
